$history-window-height:500px;
$text-color:rgba(0, 0, 0, 0.82);
$time-color:rgba(0, 0, 0, 0.82);
$accent-color: #26a69a;
$separator-color:#e0e0e0;
$input-separator-color:rgba(160, 160, 160, 0.2);
$scollbar-color:#bdbdbd;
$background-color:#fff;

//Place your custom styles here

.host{
    color:red;
}

.client{
    color:blue;
}