@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'library/materialize.scss';
@import 'library/fonts.css';
@import 'options';


@mixin fade-in($time){
    animation: fadeIn ease $time;
    -webkit-animation: fadeIn ease $time;
    -moz-animation: fadeIn ease $time;
    -o-animation: fadeIn ease $time;
    -ms-animation: fadeIn ease $time;
    opacity: 1;
}


.console { 
    
    @extend .card;
    @extend .horizontal;

    color: $text-color;
    background-color: $background-color;
    
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: $scollbar-color;
        border-radius:5px
    }
    
    &-input{
        @extend .card-action;
        padding: 10px 24px 0 24px !important;

        input{
            font-family: inherit;
            font-weight: inherit;
            font-style: inherit;
            font-size: inherit;        
        }

        input:focus {
            border-bottom: 1px solid #26a69a !important;
            box-shadow: 0 1px 0 0 #26a69a !important;
        }
    }

    &-history{
        @extend .card-content;
        overflow-y:auto;
        height:500px;
        margin-top:10px;
    }

    &-content{
        @extend .card-stacked;
        background-color: $background-color;
    }

    .submit-btn {

        display:block;
        padding-top:12px;
        padding-left:0px;

        i {
            transition: opacity .3s ease;
            color: #26a69a;
            cursor:pointer;
            font-size:3em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        i:hover {
            opacity: 0.52;
        }
    }

    .message{
        @include fade-in(0.5s);
        padding:20px 10px;
        
        &-author{
            display:inline-block;
            padding-right:8px;
        }
        
        &-text{
            display:inline-block;
        }

        &-block{
            padding-top: 10px;
            display:block;
        }

        &-time{
            @extend .right;
            color:$time-color;
        }
        
    }

    .has-separator {
        border-bottom:1px;
        border-color: $separator-color;
        border-bottom-style:solid;
    }

    .separator {
        @include fade-in(0.5s);
        background-color: $separator-color;
        width:100%;
        height:1px;
    }


 }

@keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}