$text-color:rgba(0, 0, 0, 0.82);
$time-color:rgba(0, 0, 0, 0.82);
$separator-color:#e0e0e0;
$scollbar-color:#bdbdbd;
$background-color:#fff;

//Place your custom styles here

.host{
    color:red;
}

.client{
    color:blue;
}